/*DEFAULT STYLE*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*GLOBAL CSS VARIABLES*/

@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

:root {
    --Darkblue: #172455;
    --Blue: #0EA5C6;
    --Orange: #ff7514;
    --White: #EEEEF7;
    --Maintext: var(--Darkblue);
    --Secondary: #8794BA;
    --BackgroundCards: #D9D9D9;
    --ShadowCards: 0px 18px 50px -15px rgba(0, 0, 0, 0.25);
    --font-family: 'Roboto', sans-serif;
}

/*STYLES FOR ALL CONTAINERS*/

.container {
    display: flex;
    flex-direction: column;
    background: var(--White);
}

body {
    background: var(--White);
}

.header,
main,
footer {
    flex: 0 0 auto;
    font-family: var(--font-family);
}

/*--- H E A D E R ---*/
.header {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    gap: 6em;
    /*En esta ruta relativa se divide en dos partes.
    1.Los "../" indican los saltos que debe dar este css para llegar a la imagen
    en total 4 saltos:1.Landingpage,2.Home,3.CSS,4.Public
    2."Public/Assets/Img/backgroundTop.svg" nos indica donde esta la imagen en nuestro directorio*/
    background: var(--White);
    background-image: url("../../../../Public/Assets/Img/backgroundTop.svg");
    background-size: cover;
    border-bottom: 1px solid black;
}

.activeScroll {
    background-color: #172655d5;
    /*ajustar opacidad*/
}

.menuHeader {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    position: fixed;
    left: 0;
    top: 0;
    color: var(--Secondary);
    background-color: #172655d5;
    box-shadow: 0px 4px 4px #12214D;
    z-index: 999;

}

/* responsive */
.menuHeader.active {
    flex-direction: column;
    align-items: flex-start;
    height: 24em;
    animation-name: wipe-in-down;
    animation-duration: 2.5s;
    animation-timing-function: cubic-bezier(.25, 1, .30, 1);
    animation-fill-mode: both;
}

@keyframes wipe-in-down {
    from {
        clip-path: inset(0 0 100% 0);
    }

    to {
        clip-path: inset(0 0 0 0);
    }
}


.menuHeader .logoHeader {
    height: 35px;
    object-fit: contain;
    border: 1px solid rgb(255, 0, 0);
}

.menuHeader .bars {
    display: none;
    position: absolute;
    right: -10px;
    top: -9px;
}
.barsNav, .barsNav::before, .barsNav::after {
    background-color:  var(--Orange) !important; 
}

ul.nav-links {
    display: flex;
    margin: 0 auto 0 2em;
    border: 1px solid rgb(255, 0, 0);
}

/* responsive */
.menuHeader.active ul.nav-links {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    background-color: #172655d5;
}

li.nav-link {
    display: flex;
    align-items: center;
    position: relative;
    list-style: none;
    margin: 0.5rem 1rem;
    padding: 0.4rem;
    background: transparent;
    transition: .5s ease;
    z-index: 1;
}

li.nav-link::before {
    content: '';
    position: absolute;
    width: 0;
    height: 2px;
    left: 0;
    bottom: 0;
    background-color: var(--Orange);
    transition: .5s ease;
    z-index: 1;
}

li.nav-link:hover::before {
    width: 100%;
}

li.nav-link::after {
    content: '';
    position: absolute;
    width: 100%;
    height: 0;
    left: 0;
    bottom: 0;
    background-color: var(--Orange);
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    transition: .4s ease;
    z-index: -1;
}

li.nav-link:hover::after {
    height: 100%;
    transition-delay: 0.4s;
    color: var(--White);
}

li.nav-link:hover a {
    color: var(--White);
    transition-delay: .5s;
}

li.nav-link a {
    text-decoration: none;
    font-size: 1.125em;
    color: inherit;
}

.buttonsLogin {
    display: flex;
    gap: 1em;
    border: 1px solid rgb(255, 0, 0);
}

.signIn {
    display: flex;
    align-items: center;
    position: relative;
    list-style: none;
    color: var(--Secondary);
    padding: 0.4rem;
    background: transparent;
    transition: .5s ease;
    z-index: 1;
}

.signIn::before {
    content: '';
    position: absolute;
    width: 0;
    height: 2px;
    left: 0;
    bottom: 0;
    background-color: var(--Orange);
    transition: .5s ease;
    z-index: 1;
}

.signIn:hover::before {
    width: 100%;
}

.signIn::after {
    content: '';
    position: absolute;
    height: 0;
    width: 100%;
    left: 0;
    bottom: 0;
    background-color: var(--Orange);
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    transition: .4s ease;
    z-index: -1;
}

.signIn:hover::after {
    height: 100%;
    transition-delay: 0.4s;
    color: var(--White);
}

.signIn:hover a {
    color: var(--White);
    transition-delay: .5s;
}

.signIn a {
    text-decoration: none;
    font-size: 1.125em;
    color: inherit;
}

.buttonsLogin .signUp {
    display: flex;
    align-items: center;
    position: relative;
    padding: 0.4rem;
    border-radius: 4px;
    list-style: none;
    background: transparent;
    background-color: var(--Orange);
    color: var(--White);
    transition: .5s ease;
    z-index: 1;
    cursor: pointer;
}

.buttonsLogin .signUp:hover {
    background-color: transparent;
    color: var(--Secondary);
    transition: .3s ease;
}

.buttonsLogin .signUp::before {
    content: "";
    position: absolute;
    height: 100%;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: var(--Orange);
    border-radius: 4px;
    transition: .4s ease;
    z-index: -1;
}

.buttonsLogin .signUp:hover::before {
    height: 2px;
}

.signUp:hover a {
    color: var(--Secondary);
}

.signUp a {
    text-decoration: none;
    font-size: 1.125em;
    color: var(--White);
}

.contentHeader {
    display: flex;
    justify-content: space-around;
    gap: 3em;
    width: 90%;
    height: auto;
    margin-top: 2.5em;
    border: 1px solid rgb(255, 0, 0);
}

.contentImg .headerImg {
    background: var(--BackgroundCards);
    border-radius: 30px;
    box-shadow: var(--ShadowCards);
}

.contentHeader .headerText {
    display: flex;
    justify-content: right;
    flex-direction: column;
    align-items: self-end;
    gap: 2em;
    height: auto;
    border: 1px solid rgb(255, 234, 0);
}

.headerText .headerTitle {
    text-align: right;
    font-size: 2.813em;
    color: var(--White);
    /*45px*/
}

.headerText .headerP {
    font-size: 1.125em;
    /*18*/
    text-align: justify;
    color: var(--Secondary);
}

.tryNow {
    margin-top: 2em;
}

.headerText .tryNowBtn {
    display: flex;
    align-items: center;
    position: relative;
    list-style: none;
    margin: 0.5rem 0rem;
    padding: 0.4rem;
    background: transparent;
    background-color: var(--Orange);
    color: var(--White);
    border-radius: 4px;
    transition: .5s ease;
    z-index: 1;
    cursor: pointer;

}

.tryNow .tryNowBtn:hover {
    background-color: transparent;
    color: var(--Secondary);
    transition: .3s ease;
}

.tryNow .tryNowBtn::before {
    position: absolute;
    content: "";
    height: 100%;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: var(--Orange);
    border-radius: 4px;
    transition: .4s ease;
    z-index: -1;
}

.tryNow .tryNowBtn:hover::before {
    height: 2px;
}

.tryNow .tryNowBtn:hover a {
    color: var(--Secondary);
}

.tryNow .tryNowBtn a {
    font-size: 1.125em;
    text-decoration: none;
    color: var(--White);
}

/*M A I N*/
.main {
    background-color: var(--White);
    border: 1px solid greenyellow;
    margin: auto;
    gap: 4em;
    width: 90%;
}

/*--- S E C T I O N - O N E ---*/
.features {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    width: 100%;
    gap: 2em;
    margin-top: 2em;
    border: 1px solid rgb(255, 0, 0);
}

.featuresText {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    width: 100%;
    gap: 2em;
}

.featureTitle {
    font-size: 2.5em;
    color: var(--Maintext);
    font-weight: 700;
}

.featureP {
    color: var(--Secondary);
    text-align: center;
}

.contentFeature {
    display: flex;
    justify-content: space-evenly;
    gap: 2.5em;
    margin-top: 3em;
}

.imgFeatures {
    display: flex;
    width: 4em;
    height: 4em;
    margin: 0 auto 0 auto;

}

.featuresTitle {
    font-size: 1.125em;
    color: var(--Maintext);
    line-height: 2.5em;
    text-align: center;
}

.featuresP {
    color: var(--Secondary);
    text-align: center;
}

/*--- S E C T I O N - T W O ---*/

.featuresContent {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 3em;
    width: 100%;
    border: 1px solid rgb(255, 0, 0);
}

.featuresC {
    display: flex;
    justify-content: space-evenly;
    flex-direction: row-reverse;
    gap: 2em;
    width: 100%;
}

.featuresC:nth-child(2) {
    flex-direction: row;
}

.imgFC {
    width: 50%;
    height: 100%;
    background: var(--BackgroundCards);
    border-radius: 30px;
    box-shadow: var(--ShadowCards);
}

.fCText {
    display: flex;
    justify-content: center;
    flex-direction: column;
    border: 1px solid yellow;
    width: 100%;
    height: 100%;
    gap: 2em;
    margin: auto 0 auto 0;
}

.fCTitle {
    font-size: 2.5em;
    color: var(--Maintext);
    text-align: right;
}

.left {
    text-align: left;
}

.fCP {
    font-size: 1.125em;
    /*18*/
    text-align: justify;
    color: var(--Secondary);
}

/*--- S E C T I O N - T H R E E ---*/
.FQA {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100%;
    border: 1px solid rgb(255, 0, 0);
}

.FQAtext {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    gap: 2em;
    width: 100%;
}

.FQAtitle {
    font-size: 2.5em;
    color: var(--Maintext);
}

.FQAp {
    color: var(--Secondary);
    text-align: center;
}

/*Acordion test*/

.contentFQA {
    display: flex;
    justify-content: space-evenly;
    max-width: 100%;
    width: 100%;
    margin: 0 auto 0 auto;
    padding: 2em 0;
}

.accordion {
    display: flex;
    justify-content: center;
    flex-direction: column;
    border-radius: 0.625em;
    gap: 1em;
    background: #FFFFFF;
    box-shadow: var(--ShadowCards);
    padding: 1em;
    width: 100%;
    animation-fill-mode: forwards;
}

.accordion-content {
    background-color: #eee;
    font-size: 1em;
    line-height: 1.5em;
    color: var(--Secondary);
    border-bottom-left-radius: 30px;
    border-bottom-right-radius: 30px;
}

.accordion-content p {
    padding: 1em;
}

.accordionTitle {
    background-color: transparent;
    text-align: left;
    font-weight: 700;
    font-size: 1.5em;
    padding: 1em;
    border-radius: 0.625em;
    display: block;
    text-decoration: none;
    color: var(--Orange);
    border: 3px solid var(--Blue);
}

.accordionTitle::before {
    content: "+";
    font-size: 1.5em;
    line-height: 0.8em;
    float: right;
    transition: transform 0.3s ease-in-out;
}


.accordionTitle:hover {
    transition: background-color 0.5s ease-in-out;
    background-color: var(--Darkblue);
    border: none;
}

.accordionTitle.is-expanded {
    background-color: var(--Darkblue);
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
    border: none;
    transition: border-bottom-left-radius 0.5s ease-in-out, border-bottom-right-radius 0.5s ease-in-out;
}

.accordionTitle.is-expanded:before {
    transform: rotate(-225deg);
    margin-top: auto;
}

.accordionItem {
    height: auto;
    overflow: hidden;
    max-height: 50em;
    transition: max-height 1s;
}


@media screen and (min-width: 48em) {
    .accordionItem {
        max-height: 15em;
        transition: max-height 0.5s;
    }
}

.accordionItem.is-collapsed {
    max-height: 0;
}

.accordionItem.is-collapsed {
    max-height: auto;
    background: #FFFFFF;
}


.animateIn {
    animation: accordionIn 0.45s normal ease-in-out both 1;
}

.animateOut {
    animation: accordionOut 0.45s alternate ease-in-out both 1;
}

@keyframes accordionIn {
    0% {
        opacity: 0;
        transform: scale(0.9) rotateX(-60deg);
        transform-origin: 50% 0;
    }

    100% {
        opacity: 1;
        transform: scale(1);
    }
}

@keyframes accordionOut {
    0% {
        opacity: 1;
        transform: scale(1);
    }

    100% {
        opacity: 0;
        transform: scale(0.9) rotateX(-60deg);
    }
}

/*--- F O O T E R ---*/

.footer {
    display: flex;
    justify-content: center;
    align-items: center;
    height: auto;
    width: 100%;
    background-color: var(--White);
    background-image: url("../../../../Public/Assets/Img/backgroundBottom.svg");
    background-size: cover;
    border-top: 1px solid black;
}

.footerContent {
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: 2em;
    width: 90%;
    margin-top: 13em;
    border: 1px solid seagreen;

}

.commentsText {
    display: flex;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    gap: 1em;
    width: 100%;
    border: 1px solid rgb(255, 0, 0);
}

.commentsTitle {
    font-size: 2.5em;
    font-weight: 700;
    color: var(--White);
}

.commentsP {
    color: var(--Secondary);
    font-size: 1.125em;
}

.containerComments {
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 90%;
    margin: 0 auto 0 auto;
    padding: 1em;
    gap: 1em;
    border-radius: 0.625em;
    background-color: #FFFFFF;
    box-shadow: var(--ShadowCards);
}

.comment {
    display: flex;
    justify-content: space-evenly;
    width: 100%;
    gap: 0.5em;
    padding: 0.5em;
    margin: 0 auto 0 auto;
    border-radius: 0.625em;
    border: 4px solid var(--Blue);
}

.commentImg {
    margin: auto;
    border-radius: 100%;
    width: 100px;
    max-width: 120px;
    height: 100px;
    max-height: 120px;
    border: 1px solid #00d9ff;
}

.sectionComment {
    border: 1px solid #00d9ff;
}

.infoUser {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
}

.nameUser {
    color: var(--Orange);
}

.rolUser {
    margin: auto auto auto 0.5em;
    font-style: italic;
    font-size: 1.125em;
    color: var(--Secondary);
}

.time {
    color: var(--Secondary);
    font-size: 0.875em;
    margin: auto 0 auto 0;
}

.commentUser {
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    gap: 0.6em;
    width: 100%;
}

.commentP {
    width: 100%;
    font-size: 1.125em;
    color: var(--Secondary);
}

.fa-heart {
    color: #ff0000;
}

.fa-heart span {
    color: var(--Secondary);
}

.commentBox {
    display: flex;
    justify-content: space-evenly;
    width: 97%;
    gap: 0.5em;
    padding: 0.5em;
    margin: 0 auto 0 auto;
    border-radius: 0.625em;
    border: 4px solid var(--Orange);
}

.userImage {
    margin: auto;
    border-radius: 100%;
    width: 80px;
    max-width: 100px;
    height: 80px;
    max-height: 100px;
    border: 1px solid #00d9ff;
}

.userBox {
    width: 100%;
    border: 1px solid #00d9ff;
}

.userName {
    color: var(--Blue);
}

.boxInput {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    width: 100%;
}

.boxInput input {
    outline: none;
    width: 95%;
    padding: 1em;
    color: var(--Secondary);
    transition: 0.3s ease-in-out;
    border-radius: 0.625em;
    border: 3px solid #000000;
}

.boxInput input::placeholder {
    color: var(--Secondary);
}

.boxInput input:focus {
    border: 3px solid var(--Orange);
}

.iconSend {
    color: var(--Orange);
    height: 100%;
    margin: auto;
    font-size: 2.2em;
    border: 1px solid black;
}

.iconSend:hover {
    opacity: 0.8;
}

.line {
    width: 98%;
    height: 2px;
    margin: 1em auto 0 auto;
    background: var(--Secondary);
}

.footerContact {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    border: 1px solid black;
}

.imgFooter {
    height: 2.5em;
    object-fit: contain;
    width: auto;
}

.socialMedia {
    display: flex;
    flex-direction: row;
    gap: 2em;
    height: 2.188em;
    margin: auto 0 auto 0;
}

.socialMedia i {
    font-size: 2.188em;
    color: var(--Secondary);
}

.facebook i:hover {
    color: #FFFFFF;
    transform: translateY(-5px);
    transition: transform 0.3s ease-in-out;
}

.instagram i:hover {
    background: linear-gradient(45deg,
            hsl(44deg 99% 73%) 0%,
            hsl(38deg 97% 66%) 8%,
            hsl(32deg 96% 60%) 17%,
            hsl(26deg 96% 55%) 25%,
            hsl(9deg 95% 62%) 33%,
            hsl(349deg 84% 59%) 42%,
            hsl(333deg 68% 50%) 50%,
            hsl(321deg 77% 45%) 58%,
            hsl(307deg 71% 42%) 67%,
            hsl(283deg 61% 47%) 75%,
            hsl(268deg 56% 52%) 83%,
            hsl(252deg 58% 57%) 92%,
            hsl(235deg 61% 57%) 100%);
    color: #fff;
    border-radius: 0.438em;
    transform: translateY(-5px);
    transition: transform 0.3s ease-in-out;
}

.github i:hover {
    background-color: #000000;
    color: #FFFFFF;
    border-radius: 0.625em;
    transform: translateY(-5px);
    transition: transform 0.3s ease-in-out;
}

.linkedin i:hover {
    color: #FFFFFF;
    transform: translateY(-5px);
    transition: transform 0.3s ease-in-out;
}

.contact-us {
    font-size: 0.75em;
    margin: 0 auto 0 auto;
    color: var(--Secondary);
}

/*Responsive*/
/************ M I N - W I D T H **************/
@media screen and (min-width: 1520px) {

    /*--- H E A D E R ----*/
    .header {
        background-image: url("../../../../Public/Assets/Img/backgroundTop1800.svg");
        height: 110vh;
    }

    .headerText .headerTitle {
        margin-top: 1em;
    }
}

@media screen and (min-width: 1200px) {
    /*--- H E A D E R ----*/
    /* .header {
            height: 110vh;
        } */

    .contentHeader {
        height: 90%;
    }

    .contentImg,
    .headerText {
        width: 50%;
        height: 100%;
    }

    .headerImg {
        width: 100%;
        height: 100%;
        image-rendering: crisp-edges;
    }
}


/************ M A X - W I D T H **************/
@media screen and (max-width: 1200px) {

    /*+1200px pantallas grades*/
    /*--- H E A D E R ----*/
    .header {
        background-image: url("../../../../Public/Assets/Img/backgroundTop1300.svg");
        background-size: cover;
    }

    .contentHeader {
        height: 80%;
        gap: 1.5em;
        margin-top: 2em;
    }

    ul.nav-links {
        margin: 0 0 0 0;
    }

    .headerText,
    .contentImg {
        width: 50%;
        height: 100%;
        justify-content: space-evenly;
    }

    li.nav-link {
        margin: 0.5rem 0rem;
    }

    .headerImg {
        width: 100%;
        height: 100%;
    }

    .headerText .headerTitle {
        font-size: 2.188em;

    }

    .tryNow {
        margin-top: 0em;
        margin-bottom: 7em;
    }


}

@media screen and (max-width: 993px) {

    /*Laptops*/
    /*--- H E A D E R ----*/
    .header {
        background-image: url("../../../../Public/Assets/Img/backgroundTop992.svg");
        background-size: cover;
    }

    .menuHeader .bars {
        display: block;
    }

    .menuHeader .nav-links {
        display: none;
    }

    ul.nav-links {
        display: flex;
        justify-content: space-around;
        height: 100%;

    }

    .buttonsLogin {
        position: absolute;
        right: 3.063em;
    }

    .contentHeader {
        margin-top: 2.5em;
        height: 90%;

    }

    .contentImg {
        width: 60%;
    }

    .headerText {
        width: 40%;
    }

    .headerText .headerTitle {
        font-size: 1.875em;
    }

    .tryNow {
        /* Arriba | Derecha | Abajo | Izquierda */
        margin: 2em 0 5em 0;
    }

    /*--- S E C T I O N - O N E ----*/
    .features {
        gap: 0em;
    }

    .featureTitle {
        font-size: 1.875em;

    }

    /*--- S E C T I O N - T W O ---*/
    .featuresC {
        gap: 0.5em;
    }

    .fCText {
        width: 40%;

    }

    .fCTitle {
        text-align: center;
        font-size: 1.875em;
    }

    .imgFC {
        width: 60%;
        margin: auto 0 auto 0;
    }

    /*--- S E C T I O N - T H R E E ----*/
    .FQAtitle {
        font-size: 1.875em;
    }

    /*--- F O O T E R ---*/
    .commentsTitle {
        font-size: 1.875em;
    }

}

@media screen and (max-width: 768px) {

    /*Tables*/
    /*--- H E A D E R ---*/
    .header {
        background-image: url("../../../../Public/Assets/Img/backgroundTop768.svg");
    }

    .contentHeader {
        justify-content: space-between;
        flex-direction: column;
        gap: 0;
        margin-top: 1em;
    }

    .contentImg {
        width: 100%;
        height: 45%;
    }

    .headerText {
        width: 100%;
        height: 90% !important;
        max-width: 100%;
        margin: auto;
    }

    .headerTitle {
        margin-top: 1em;
    }

    .headerText .tryNow {
        /* Arriba | Derecha | Abajo | Izquierda */
        margin: 0.1em 0 0em 0;
    }

    /*--- S E C T I O N - O N E ----*/
    .contentFeature {
        display: flex;
        justify-content: space-evenly;
        flex-direction: column;
        gap: 2.5em;
        margin-top: 3em;
        border: 1px solid greenyellow;
    }

    .imgFeatures {
        margin: auto 1em auto 0;
        border: 1px solid rgb(255, 95, 47);
    }

    .contentFeatures {
        display: flex;
        flex-direction: row-reverse;
        border: 1px solid greenyellow;
        gap: 1em;
    }

    .featuresTitle {
        text-align: left;
        margin: 0 0 0 1em;
    }

    .featuresP {
        text-align: left;
        margin: 0 0 1em 1em;
    }


    /*--- S E C T I O N - T W O ---*/
    .featuresC {
        flex-direction: column;
        width: 100%;
    }

    .featuresC:nth-child(2) {
        flex-direction: inherit;
    }

    .imgFC {
        width: 90%;
        max-width: 100%;
        height: auto;
        margin: auto;
    }

    .fCText {
        width: 90%;
        max-width: 100%;
        height: auto;
        margin: auto;
    }

    /*--- F O O T E R ---*/
    .footer {
        background-image: url("../../../../Public/Assets/Img/backgroundBottom768.svg");
        background-size: cover;
    }

    .footerContent {
        margin-top: 5em;

    }

    .containerComments {
        width: 100%;
    }


}

@media screen and (max-width: 600px) {

    /*Moviles hasta los 320px*/
    .buttonsLogin .signUp {
        display: none;
    }

    .contentImg {
        width: 100%;
        height: 40%;
    }

    .headerText {
        justify-content: space-around !important;
        width: 100%;
        gap: 0em !important;
    }

    .headerText .headerTitle {
        font-size: 1.563em;
        text-align: center;
    }

    .headerText .headerP {
        margin-top: -1.5em;
    }

    .headerText .tryNow {
        width: 90%;
        /* Arriba | Derecha | Abajo | Izquierda */
        margin: 0em auto 0em auto;

    }

    .headerText .tryNowBtn {
        width: 100%;
        text-align: center;

    }

    .tryNow .tryNowBtn a {
        margin-left: auto;
        margin-right: auto;
        text-decoration: none;
        color: var(--White);
    }


    /*--- S E C T I O N - O N E ----*/

    .featureTitle {
        text-align: center;

    }

    /*--- S E C T I O N - T H R E E ----*/
    .FQAtitle {
        text-align: center;
    }

    /*---F O O T E R ---*/
    .commentImg {
        width: 70px;
        height: 70px;
        margin: 0 auto auto auto;
    }

    .infoUser {
        flex-direction: column;
        justify-content: space-between;
        border: 1px solid rgb(20, 19, 26);
    }

    .nameUser {
        align-self: flex-start;
        font-size: 1.125em;
    }

    .rolUser {
        margin: 0;
        font-size: 0.875em;
    }

    .time {
        position: absolute;
        right: 5em;
        margin-top: 0.25em;
        font-size: 0.75em;
    }

    /* .commentUser {
        margin-top: 3em;
    } */
    .commentP {
        text-align: justify;
    }

    .socialMedia {
        gap: 1em;
        height: 1.5em;
    }

    .socialMedia i {
        font-size: 1.5em;
    }

    .contact-us {
        text-align: center;
    }
}

@media screen and (max-width: 400px) {
    /*---F O O T E R ---*/
    .time {
        position: initial;
        right: initial;
        margin-top: initial;
    }
    .commentP {
        font-size: 0.875em;
    }
    .userImage{
        width: 60px;
        height: 60px;
    }
    .iconSend {
        font-size: 1.8em;

    }
    
}

@media screen and (max-width: 367px) {
    .headerText .headerTitle {
        margin-top: 0em;
    }

    .contentImg {
        height: 30%;
    }

    .headerText {
        height: 70%;
    }
    /*---F O O T E R ---*/
    .imgFooter {
        width: 130px;
    }
}