/*DEFAULT STYLE*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*GLOBAL CSS VARIABLES*/

@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

:root {
    --Darkblue: #172455;
    --Blue: #0EA5C6;
    --Orange: #ff7514;
    --White: #EEEEF7;
    --Maintext: var(--Darkblue);
    --Secondary: #8794BA;
    --BackgroundCards: #D9D9D9;
    --ShadowCards: 0px 18px 50px -15px rgba(0, 0, 0, 0.25);
    --font-family: 'Roboto', sans-serif;
}

/*STYLES FOR ALL CONTAINERS*/

.container {
    display: flex;
    flex-direction: column;
    background: var(--White);

}

.header,
main,
footer {
    flex: 0 0 auto;
}

/*HEADER*/

.header {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    /*aumentar para dispositivos grandes*/
    /*En esta ruta relativa se divide en dos partes.
    1.Los "../" indican los saltos que debe dar este css para llegar a la imagen
    en total 4 saltos:1.Landingpage,2.Home,3.CSS,4.Public
    2."Public/Assets/Img/backgroundTop.svg" nos indica donde esta la imagen en nuestro directorio*/
    background: var(--White);
    background-image: url("../../../../Public/Assets/Img/backgroundTop.svg");
    background-size: cover;
    font-family: var(--font-family);
    border-bottom: 1px solid black;
    gap: 6em;
}

.activeScroll {
    background-color: #172655d5;
    /*ajustar opacidad*/
}

.menuHeader {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: var(--Secondary);
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    box-shadow: 0px 4px 4px #12214D;
    background-color: #172655d5;
    z-index: 999;

}

/* responsive */
.menuHeader.active {
    flex-direction: column;
    align-items: flex-start;
    height: 24em;
    animation-name: wipe-in-down;
    animation-duration: 2.5s;
    animation-timing-function: cubic-bezier(.25, 1, .30, 1);
    animation-fill-mode: both;
}

@keyframes wipe-in-down {
    from {
        clip-path: inset(0 0 100% 0);
    }

    to {
        clip-path: inset(0 0 0 0);
    }
}


.menuHeader .logoHeader {
    height: 35px;
    object-fit: contain;
    border: 1px solid rgb(255, 0, 0);
}

.menuHeader .bars {
    position: absolute;
    right: -10px;
    top: -9px;
    display: none;
}

ul.nav-links {
    display: flex;
    margin: 0 auto 0 2em;
    border: 1px solid rgb(255, 0, 0);
}

/* responsive */
.menuHeader.active ul.nav-links {
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
    background-color: #172655d5;

}

li.nav-link {
    list-style: none;
    margin: 0.5rem 1rem;
    padding: 0.4rem;
    display: flex;
    align-items: center;
    background: transparent;
    position: relative;
    transition: .5s ease;
    z-index: 1;
}

li.nav-link::before {
    content: '';
    position: absolute;
    left: 0;
    bottom: 0;
    height: 2px;
    width: 0;
    background-color: var(--Orange);
    transition: .5s ease;
    z-index: 1;
}

li.nav-link:hover::before {
    width: 100%;
}

li.nav-link::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: 0;
    height: 0;
    width: 100%;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    background-color: var(--Orange);
    transition: .4s ease;
    z-index: -1;
}

li.nav-link:hover::after {
    height: 100%;
    transition-delay: 0.4s;
    color: var(--White);
}

li.nav-link:hover a {
    color: var(--White);
    transition-delay: .5s;
}

li.nav-link a {
    text-decoration: none;
    color: inherit;
    font-size: 1.125em;
}



.buttonsLogin {
    display: flex;
    gap: 1em;
    border: 1px solid rgb(255, 0, 0);
}

.signIn {
    list-style: none;
    color: var(--Secondary);
    padding: 0.4rem;
    display: flex;
    align-items: center;
    background: transparent;
    position: relative;
    transition: .5s ease;
    z-index: 1;
}

.signIn::before {
    content: '';
    position: absolute;
    left: 0;
    bottom: 0;
    height: 2px;
    width: 0;
    background-color: var(--Orange);
    transition: .5s ease;
    z-index: 1;
}

.signIn:hover::before {
    width: 100%;
}

.signIn::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: 0;
    height: 0;
    width: 100%;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    background-color: var(--Orange);
    transition: .4s ease;
    z-index: -1;
}

.signIn:hover::after {
    height: 100%;
    transition-delay: 0.4s;
    color: var(--White);
}

.signIn:hover a {
    color: var(--White);
    transition-delay: .5s;
}

.signIn a {
    text-decoration: none;
    color: inherit;
    font-size: 1.125em;
    ;
}


.buttonsLogin .signUp {
    list-style: none;
    padding: 0.4rem;
    display: flex;
    align-items: center;
    background: transparent;
    position: relative;
    background-color: var(--Orange);
    color: var(--White);
    transition: .5s ease;
    border-radius: 4px;
    z-index: 1;
    cursor: pointer;

}

.buttonsLogin .signUp:hover {
    background-color: transparent;
    color: var(--Secondary);
    transition: .3s ease;
}

.buttonsLogin .signUp::before {
    position: absolute;
    content: "";
    z-index: -1;
    background-color: var(--Orange);
    left: 0;
    right: 0;
    bottom: 0;
    height: 100%;
    border-radius: 4px;
    transition: .4s ease;
}

.buttonsLogin .signUp:hover::before {
    height: 2px;
}

.signUp:hover a {
    color: var(--Secondary);
}

.signUp a {
    text-decoration: none;
    color: var(--White);
    font-size: 1.125em;
}

.contentHeader {
    display: flex;
    justify-content: space-around;
    width: 90%;
    height: auto;
    gap: 3em;
    margin-top: 2em;
    border: 1px solid rgb(255, 0, 0);
}

.contentImg .headerImg {
    background: var(--BackgroundCards);
    box-shadow: var(--ShadowCards);
    border-radius: 30px;
}

.contentHeader .headerText {
    display: flex;
    justify-content: right;
    flex-direction: column;
    align-items: self-end;
    gap: 2em;
    height: auto;
    border: 1px solid rgb(255, 234, 0);
}

.headerText .headerTitle {
    color: var(--White);
    text-align: right;
    font-size: 2.813em;
    /*45px*/
}

.headerText .headerP {
    font-size: 1.125em;
    /*18*/
    color: var(--Secondary);
    text-align: justify;
}

.tryNow {
    margin-top: 2em;
}

.headerText .tryNowBtn {
    list-style: none;
    margin: 0.5rem 0rem;
    padding: 0.4rem;
    display: flex;
    align-items: center;
    background: transparent;
    position: relative;
    background-color: var(--Orange);
    color: var(--White);
    transition: .5s ease;
    border-radius: 4px;
    z-index: 10;
    cursor: pointer;

}

.tryNow .tryNowBtn:hover {
    background-color: transparent;
    color: var(--Secondary);
    transition: .3s ease;
}

.tryNow .tryNowBtn::before {
    position: absolute;
    content: "";
    z-index: -1;
    background-color: var(--Orange);
    left: 0;
    right: 0;
    bottom: 0;
    height: 100%;
    border-radius: 4px;
    transition: .4s ease;
}

.tryNow .tryNowBtn:hover::before {
    height: 2px;
}

.tryNow .tryNowBtn:hover a {
    color: var(--Secondary);
}

.tryNow .tryNowBtn a {
    text-decoration: none;
    color: var(--White);
    font-size: 1.125em;
}


/*Responsive*/
/************ M I N - W I D T H **************/
@media screen and (min-width: 1520px) {
    .headerText .headerTitle {
        margin-top: 1em;
    }
}

@media screen and (min-width: 1200px) {
    .header {
        height: 110vh;
    }

    .contentHeader {
        height: 90%;
    }

    .contentImg,
    .headerText {
        width: 50%;
        height: 100%;
    }

    .headerImg {
        width: 100%;
        height: 100%;
        image-rendering: crisp-edges;
    }

}


/************ M A X - W I D T H **************/
@media screen and (max-width: 1200px) {

    /*+1200px pantallas grades*/
    .header {
        background-image: url("../../../../Public/Assets/Img/backgroundTop1300.svg");
        background-size: cover;
        height: 122vh;
    }

    .contentHeader {
        gap: 1.5em;
        margin-top: 2em;
        height: 80%;

    }

    ul.nav-links {
        margin: 0 0 0 0;
    }

    .headerText,
    .contentImg {
        width: 50%;
        height: 100%;
        justify-content: space-evenly;
    }

    li.nav-link {
        margin: 0.5rem 0rem;
    }

    .headerImg {
        width: 100%;
        height: 100%;
    }

    .headerText .headerTitle {
        font-size: 2.188em;

    }

    .tryNow {
        margin-top: 0em;
        margin-bottom: 7em;
    }


}

@media screen and (max-width: 993px) {

    /*Laptops*/
    .header {
        background-image: url("../../../../Public/Assets/Img/backgroundTop992.svg");
        background-size: cover;
        height: 130vh;

    }

    .menuHeader .bars {
        display: block;
    }

    .menuHeader .nav-links {
        display: none;
    }

    ul.nav-links {
        display: flex;
        justify-content: space-around;
        height: 100%;

    }

    .buttonsLogin {
        position: absolute;
        right: 3.063em;
    }

    .contentHeader {
        margin-top: 2.5em;
        height: 90%;

    }

    .contentImg {
        width: 60%;
    }

    .headerText {
        width: 40%;
    }

    .headerText .headerTitle {
        font-size: 1.875em;
    }

    .tryNow {
        /* Arriba | Derecha | Abajo | Izquierda */
        margin: 2em 0 5em 0;
    }
}

@media screen and (max-width: 768px) {

    /*Tables*/
    .header {
        background-image: url("../../../../Public/Assets/Img/backgroundTop768.svg");
        height: 100vh;
    }

    .contentHeader {
        justify-content: space-between;
        flex-direction: column;
        gap: 0;
        margin-top: 1em;
    }

    .contentImg {
        width: 100%;
        height: 45%;
    }

    .headerText {
        width: 100%;
        height: 90% !important;
        max-width: 100%;
        margin: auto;
    }

    .headerTitle {
        margin-top: 1em;
    }

    .headerText .tryNow {
        /* Arriba | Derecha | Abajo | Izquierda */
        margin: 0.1em 0 0em 0;
    }

}

@media screen and (max-width: 600px) {

    /*Moviles hasta los 320px*/
    .buttonsLogin .signUp {
        display: none;

    }

    .contentImg {
        width: 100%;
        height: 40%;
    }

    .headerText {
        justify-content: space-around !important;
        width: 100%;
        gap: 0em !important;
    }

    .headerText .headerTitle {
        font-size: 1.563em;
        text-align: center;
    }

    .headerText .headerP {
        margin-top: -1.5em;
    }

    .headerText .tryNow {
        width: 90%;
        /* Arriba | Derecha | Abajo | Izquierda */
        margin: 0em auto 0em auto;

    }

    .headerText .tryNowBtn {
        width: 100%;
        text-align: center;

    }

    .tryNow .tryNowBtn a {
        margin-left: auto;
        margin-right: auto;
        text-decoration: none;
        color: var(--White);
    }

}

@media screen and (max-width: 367px) {
    .headerText .headerTitle {
        margin-top: 0em;
    }

    .contentImg {
        height: 30%;
    }

    .headerText {
        height: 70%;
    }
}



/* 
@media screen and (max-width: 1007px) {
    .header {
        height: 120vh;
        gap: 1.5em;
    }

    .head{
       margin-top: 2em;
    }
    .head .menuHeader {
    
        margin: 0 auto 0 auto;
        gap: 1em;
    }
    .contentHeader{
        gap:2.5em
    }
    .signIn, .singUp{
        padding: 8px 10px;
    
    } 
    .contentHeader .headerImg {
        width: 550px;
        height: 400px;
    }
} */


main {
    height: 100vh;
    background-color: chartreuse;
    margin: auto;
}