* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

:root {
    --Darkblue: #172455;
    --Blue: #0EA5C6;
    --Orange: #ff7514;
    --White: #EEEEF7;
    --Maintext: var(--Darkblue);
    --Secondary: #8794BA;
    --BackgroundCards: #D9D9D9;
    --font-family: 'Roboto', sans-serif;
}

body {
    display: flex;
    justify-content: center;
    height: 100vh;
    background-color: var(--BackgroundCards);
    font-family: var(--font-family);
    transition: height 0.5s ease;
}

.main {
    position: relative;
    display: flex;
    flex-direction: column;
    background-color: var(--Darkblue);
    max-height: 350px;
    overflow: hidden;
    border-radius: 12px;
    box-shadow: -5px -5px 15px 5px rgba(0, 0, 0, 0.30), 5px 5px 15px 7px rgba(0, 0, 0, 0.30);
    margin: auto 0 auto 0;
    transition: max-height 0.5s ease;
    animation: zoomIn;
    animation-duration: 1s;
}

@keyframes zoomIn {
    from {
        opacity: 0;
        transform: scale3d(0.3, 0.3, 0.3);
    }

    50% {
        opacity: 1;
    }
}

.zoomIn {
    animation-name: zoomIn;
}


.form {
    display: flex;
    flex-direction: column;
    gap: 14px;
    padding: 24px;
}

/*checkbox to switch from sign up to login*/
#chk {
    display: none;
}

#chk:checked~.register {
    transition: transform 0.5s ease;
    transform: translateY(-32%);
}

#chk:checked~.register label {
    transform: scale(1);
    margin: 1% 0 5%;
}

#chk:checked~.login label {
    transform: scale(.6);
    margin: 5% 0 5%;
}

/*Login*/
.login {
    position: relative;
    width: 100%;
    height: 100%;
}

.login label {
    margin: 5% 0 5%;
}

label {
    color: var(--Orange);
    font-size: 2rem;
    justify-content: center;
    display: flex;
    font-weight: bold;
    cursor: pointer;
    transition: .5s ease-in-out;
}

.inputBoxSignIn,
.inputBoxSignUp {
    position: relative;
    width: 300px;
}

.inputBoxSignIn input {
    width: 100%;
    padding: 10px;
    outline: none;
    border: none;
    color: var(--Orange);
    font-size: 1em;
    background: transparent;
    border-left: 3px solid #FFFFFF;
    border-bottom: 3px solid #FFFFFF;
    transition: 0.1s;
    border-bottom-left-radius: 8px;
}

.inputBoxSignIn span {
    margin-top: 5px;
    position: absolute;
    left: 0;
    transform: translateY(-4px);
    margin-left: 10px;
    padding: 10px;
    pointer-events: none;
    font-size: 12px;
    color: var(--Orange);
    text-transform: uppercase;
    transition: 0.5s;
    letter-spacing: 3px;
    border-radius: 8px;
}

.email input:valid~span,
.email input:focus~span {
    transform: translateX(205px) translateY(-15px);
    font-size: 0.8em;
    padding: 5px 10px;
    background: var(--White);
    letter-spacing: 0.2em;
    color: var(--Orange);
    border: 2px;
}

.password input:valid~span,
.password input:focus~span {
    transform: translateX(142px) translateY(-15px);
    font-size: 0.8em;
    padding: 5px 10px;
    background: var(--White);
    letter-spacing: 0.2em;
    color: var(--Orange);
    border: 2px;
}

.inputBoxSignIn input:valid,
.inputBoxSignIn input:focus {
    border: 2px solid var(--Orange);
    border-radius: 8px;
}

.SignInBtn {
    height: 45px;
    width: 120px;
    border-radius: 5px;
    border: 3px solid var(--White);
    color: var(--Orange);
    cursor: pointer;
    background-color: transparent;
    transition: 0.5s;
    text-transform: uppercase;
    font-size: 12px;
    letter-spacing: 2px;
    margin: 0 auto 3em auto;
    transition: transform .2s ease-in-out;
}

.SignInBtn:hover {
    background-color: var(--White);
    font-weight: bolder;
    transform: scale(1.1);
}

/*Register*/
.register {
    background: var(--Orange);
    border-radius: 30% / 5%;
    transform: translateY(-5%);
    transition: .8s ease-in-out;
    margin-bottom: 1em;
}

.register label {
    color: var(--Darkblue);
    transform: scale(.6);
}

.inputBoxSignUp input,
select {
    width: 100%;
    padding: 10px;
    outline: none;
    border: none;
    color: var(--Darkblue);
    font-size: 1em;
    background: transparent;
    border-left: 3px solid #FFFFFF;
    border-bottom: 3px solid #FFFFFF;
    transition: 0.1s;
    max-height: 200px;
    border-bottom-left-radius: 8px;
}

.inputBoxSignUp span {
    margin-top: 5px;
    position: absolute;
    left: 0;
    transform: translateY(-4px);
    margin-left: 10px;
    padding: 10px;
    pointer-events: none;
    font-size: 12px;
    color: var(--Darkblue);
    text-transform: uppercase;
    transition: 0.5s;
    letter-spacing: 3px;
    border-radius: 8px;
}

.email2 input:valid~span,
.email2 input:focus~span {
    transform: translateX(205px) translateY(-15px);
    font-size: 0.8em;
    padding: 5px 10px;
    background: var(--White);
    letter-spacing: 0.2em;
    color: var(--Darkblue);
    border: 2px;
}

.name input:valid~span,
.name input:focus~span {
    transform: translateX(185px) translateY(-15px);
    font-size: 0.8em;
    padding: 5px 10px;
    background: var(--White);
    letter-spacing: 0.2em;
    color: var(--Darkblue);
    border: 2px;
}

.lastName input:valid~span,
.lastName input:focus~span {
    transform: translateX(172px) translateY(-15px);
    font-size: 0.8em;
    padding: 5px 10px;
    background: var(--White);
    letter-spacing: 0.2em;
    color: var(--Darkblue);
    border: 2px;
}

.phone input:valid~span,
.phone input:focus~span {
    transform: translateX(60px) translateY(-15px);
    font-size: 0.8em;
    padding: 5px 10px;
    background: var(--White);
    letter-spacing: 0.2em;
    color: var(--Darkblue);
    border: 2px;
}

.date::-webkit-datetime-edit,
.date::-webkit-inner-spin-button,
.date::-webkit-clear-button {
    display: none;
}


.dateofBirth span {
    margin-left: 20px;
}

.dateofBirth input:valid~span,
.dateofBirth input:focus~span {
    transform: translateX(50px) translateY(-15px);
    font-size: 0.8em;
    padding: 3px 10px;
    background: var(--White);
    letter-spacing: 0.2em;
    color: var(--Darkblue);
    border: 2px;
}


.password2 input:valid~span,
.password2 input:focus~span {
    transform: translateX(142px) translateY(-15px);
    font-size: 0.8em;
    padding: 5px 10px;
    background: var(--White);
    letter-spacing: 0.2em;
    color: var(--Darkblue);
    border: 2px;
}


.inputBoxSignUp input:valid,
.inputBoxSignUp input:focus {
    border: 2px solid var(--Darkblue);
    border-radius: 8px;
}

.inputBoxSignUp select:focus {
    border: 2px solid var(--Darkblue);
    border-radius: 8px;
}

.SignUpBtn {
    height: 45px;
    width: 120px;
    border-radius: 5px;
    border: 3px solid var(--White);
    color: var(--Darkblue);
    cursor: pointer;
    background-color: transparent;
    transition: 0.5s;
    text-transform: uppercase;
    font-size: 12px;
    letter-spacing: 2px;
    margin: 0 auto 3em auto;
    transition: transform .2s ease-in-out;
}

.SignUpBtn:hover {
    background-color: var(--White);
    font-weight: bolder;
    transform: scale(1.1);
}

/*Alerts*/

.close {
    float: right;
    font-size: 21px;
    font-weight: bold;
    line-height: 1;
    color: #000;
    text-shadow: 0 1px 0 #fff;
    opacity: .2;
}

.close:hover,
.close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
    opacity: .5;
}

button.close {
    padding: 0;
    cursor: pointer;
    background: transparent;
    border: 0;
    -webkit-appearance: none;
    appearance: none;
}

.alert {
    padding: 15px;
    border-radius: 4px;
}

.alert h4 {
    margin-top: 0;
    color: inherit;
}

.alert .alert-link {
    font-weight: bold;
}

.alert>p,
.alert>ul {
    margin-bottom: 0;
}

.alert>p+p {
    margin-top: 5px;
}

.alert-dismissable {
    padding-right: 35px;
}

.alert-dismissable .close {
    position: relative;
    top: -2px;
    right: -21px;
    color: inherit;
}

.alert-danger {
    background-color: #f2dede;
    border-color: #ebccd1;
    color: #a94442;
}

.alert-danger hr {
    border-top-color: #e4b9c0;
}

.alert-danger .alert-link {
    color: #843534;
}

.alert {
    border-radius: 0;
    -webkit-border-radius: 0;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.11);
}

.alert .sign {
    font-size: 20px;
    vertical-align: middle;
    margin-right: 5px;
    text-align: center;
    width: 25px;
    display: inline-block;
}
.alert-danger {
    background-color: #f2dede;
    border-color: #e0b1b8;
    color: #b94a48;
}

.alert-white {
    background-image: linear-gradient(to bottom, #FFFFFF, #F9F9F9);
    border-top-color: #d8d8d8;
    border-bottom-color: #bdbdbd;
    border-left-color: #cacaca;
    border-right-color: #cacaca;
    color: #404040;
    padding-left: 61px;
    position: relative;
}

.alert-white .icon {
    text-align: center;
    width: 45px;
    height: 100%;
    position: absolute;
    top: 0;
    left: -1px;
    border: 1px solid #bdbdbd;
}

.alert-white .icon:after {
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);;
    display: block;
    content: '';
    width: 10px;
    height: 10px;
    border: 1px solid #bdbdbd;
    position: absolute;
    border-left: 0;
    border-bottom: 0;
    top: 50%;
    right: -6px;
    margin-top: -5px;
    background: #fff;
}

.alert-white.rounded {
    border-radius: 3px;
    -webkit-border-radius: 3px;
}

.alert-white.rounded .icon {
    border-radius: 3px 0 0 3px;
    -webkit-border-radius: 3px 0 0 3px;
}

.alert-white .icon i {
    font-size: 20px;
    color: #FFF;
    left: 12px;
    margin-top: -10px;
    position: absolute;
    top: 50%;
}

.alert-white.alert-danger .icon,
.alert-white.alert-danger .icon:after {
    border-color: #ca452e;
    background: #da4932;
}
