* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

:root {
    --Darkblue: #172455;
    --Blue: #0EA5C6;
    --Orange: #ff7514;
    --White: #EEEEF7;
    --Maintext: var(--Darkblue);
    --Secondary: #8794BA;
    --BackgroundCards: #D9D9D9;
    --font-family: 'Roboto', sans-serif;
}

body {
    display: flex;
    justify-content: center;
    height: 100vh;
    background-color: var(--BackgroundCards);
    font-family: var(--font-family);
    transition: height 0.5s ease;
}

.main {
    display: flex;
    flex-direction: column;
    position: relative;
    max-height: 21.6em;
    margin: auto 0 auto 0;
    overflow: hidden;
    background-color: var(--Darkblue);
    border-radius: 0.75em;
    box-shadow: -0.3125em -0.3125em 0.9375em 0.3125em rgba(0, 0, 0, 0.30), 5px 5px 15px 7px rgba(0, 0, 0, 0.30);
    transition: max-height 0.5s ease;
    animation: zoomIn;
    animation-duration: 1s;
}

@keyframes zoomIn {
    from {
        opacity: 0;
        transform: scale3d(0.3, 0.3, 0.3);
    }

    50% {
        opacity: 1;
    }
}

.zoomIn {
    animation-name: zoomIn;
}

.form{
    display: flex;
    flex-direction: column;
    gap: 0.875em;
    padding: 1.5em;
}

/*checkbox to switch from sign up to login*/
#chk {
    display: none;
}
#chk:checked~.register {
    transition: transform 0.5s ease;
    transform: translateY(-32%);
}
#chk:checked~.register label {
    transform: scale(1);
    margin: 1% 0 5%;
}
#chk:checked~.login label {
    transform: scale(.6);
    margin: 5% 0 5%;
}

/*--- L O G I N ---*/
.login {
    position: relative;
    width: 100%;
    height: 100%;
}

.login label {
    margin: 5% 0 5%;
}

label {
    display: flex;
    justify-content: center;
    color: var(--Orange);
    font-size: 2em;
    font-weight: bold;
    transition: .5s ease-in-out;
    cursor: pointer;
}

.inputBoxSignIn,
.inputBoxSignUp {
    position: relative;
    width: 18.75em;
}

.inputBoxSignIn input {
    width: 100%;
    padding: 0.625em;
    outline: none;
    border: none;
    color: var(--Orange);
    font-size: 1em;
    background: transparent;
    border-left: 0.1875em solid #FFFFFF;
    border-bottom:0.1875em solid #FFFFFF;
    border-bottom-left-radius: 0.5em;
    transition: 0.1s;
}

.inputBoxSignIn span {
    position: absolute;
    left: 0;
    padding: 0.625em;
    margin-top: 0.3125em;
    margin-left: 0.625em;
    color: var(--Orange);
    text-transform: uppercase;
    font-size: 0.75em;
    letter-spacing: 0.1875em;
    border-radius: 0.5em;
    transform: translateY(-0.25em);
    transition: 0.5s;
    pointer-events: none;
}

.email input:valid~span,
.email input:focus~span {
    transform: translateX(16.5em) translateY(-1.1em);
    font-size: 0.8em;
    padding: 0.3125em 0.625em;
    background: var(--White);
    letter-spacing: 0.2em;
    color: var(--Orange);
    border: 0.125em;
}

.password input:valid~span,
.password input:focus~span {
    transform: translateX(11.5em) translateY(-1.1em);
    font-size: 0.8em;
    padding: 0.3125em 0.625em;
    background: var(--White);
    letter-spacing: 0.2em;
    color: var(--Orange);
    border: 0.125em;
}

.inputBoxSignIn input:valid,
.inputBoxSignIn input:focus {
    border: 0.125em solid var(--Orange);
    border-radius: 0.5em;
}

.SignInBtn {
    height: 2.8125em;
    width: 9.5em;
    margin: 0 auto 3em auto;
    text-transform: uppercase;
    font-size: 0.75em;
    letter-spacing: 0.125em;
    border-radius: 0.3125em;
    border: 0.1875em solid var(--White);
    color: var(--Orange);
    background-color: transparent;
    transition: 0.5s;
    transition: transform .2s ease-in-out;
    cursor: pointer;
}

.SignInBtn:hover {
    background-color: var(--White);
    font-weight: bolder;
    transform: scale(1.1);
}

/*--- R E G I S T E R ---*/
.register {
    background: var(--Orange);
    border-radius: 30% / 5%;
    transform: translateY(-5%);
    transition: .8s ease-in-out;
    margin-bottom: 1em;
}

.register label {
    color: var(--Darkblue);
    transform: scale(.6);
}

.inputBoxSignUp input,
select {
    width: 100%;
    max-height: 12.5em;
    padding: 0.625em;
    border: none;
    outline: none;
    font-size: 1em;
    color: var(--Darkblue);
    background: transparent;
    border-left: 0.1875em solid #FFFFFF;
    border-bottom: 0.1875em solid #FFFFFF;
    border-bottom-left-radius: 0.5em;
    transition: 0.1s;
}

.inputBoxSignUp span {
    position: absolute;
    left: 0;
    padding: 0.625em;
    margin-left: 0.625em;
    margin-top: 0.3125em;
    text-transform: uppercase;
    font-size: 0.75em;
    letter-spacing: 0.1875em;
    color: var(--Darkblue);
    border-radius: 0.5em;
    transform: translateY(-0.25em);
    transition: 0.5s;
    pointer-events: none;
}

.email2 input:valid~span,
.email2 input:focus~span {
    transform: translateX(16.5em) translateY(-1.1em);
    padding: 0.3125em 0.625em;
    color: var(--Darkblue);
    background: var(--White);
    border: 0.125em;
    font-size: 0.8em;
    letter-spacing: 0.2em;
}

.name input:valid~span,
.name input:focus~span {
    transform: translateX(14.8em) translateY(-1.1em);
    padding: 0.3125em 0.625em;
    color: var(--Darkblue);
    background: var(--White);
    border: 0.125em;
    font-size: 0.8em;
    letter-spacing: 0.2em;
}

.lastName input:valid~span,
.lastName input:focus~span {
    transform: translateX(13.8em) translateY(-1.1em);
    padding: 0.3125em 0.625em;
    color: var(--Darkblue);
    background: var(--White);
    border: 0.125em;
    font-size: 0.8em;
    letter-spacing: 0.2em;
}

.phone input:valid~span,
.phone input:focus~span {
    transform: translateX(5.1em) translateY(-1.1em);
    padding: 0.3125em 0.625em;
    color: var(--Darkblue);
    background: var(--White);
    border: 0.125em;
    font-size: 0.8em;
    letter-spacing: 0.2em;
}

.date::-webkit-datetime-edit,
.date::-webkit-inner-spin-button,
.date::-webkit-clear-button {
    display: none;
}


.dateofBirth span {
    margin-left: 1.8em;
}

.dateofBirth input:valid~span,
.dateofBirth input:focus~span {
    transform: translateX(3.9em) translateY(-1.1em);
    padding:0.1875em 0.625em;
    color: var(--Darkblue);
    background: var(--White);
    border: 0.125em;
    font-size: 0.8em;
    letter-spacing: 0.2em;
}


.password2 input:valid~span,
.password2 input:focus~span {
    transform: translateX(11.5em) translateY(-1.1em);
    padding:0.1875em 0.625em;
    color: var(--Darkblue);
    background: var(--White);
    border: 0.125em;
    font-size: 0.8em;
    letter-spacing: 0.2em;
}


.inputBoxSignUp input:valid,
.inputBoxSignUp input:focus {
    border:  0.125em solid var(--Darkblue);
    border-radius: 0.5em;
}

.inputBoxSignUp select:focus {
    border:  0.125em solid var(--Darkblue);
    border-radius: 0.5em;
}

.SignUpBtn {
    width: 9.5em;
    height: 2.8125em;
    margin: 0 auto 3em auto;
    border-radius: 0.3125em;
    border: 0.1875em solid var(--White);
    color: var(--Darkblue);
    background-color: transparent;
    transition: 0.5s;
    text-transform: uppercase;
    font-size: 0.75em;
    letter-spacing: 0.125em;
    transition: transform .2s ease-in-out;
    cursor: pointer;
}

.SignUpBtn:hover {
    background-color: var(--White);
    font-weight: bolder;
    transform: scale(1.1);
}

/*--- A L E R T S ---*/

.close {
    float: right;
    color: #000;
    font-size: 1.3125em;
    font-weight: bold;
    line-height: 1;
    text-shadow: 0 1px 0 #fff;
    opacity: .2;
}

.close:hover,
.close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
    opacity: .5;
}

button.close {
    padding: 0;
    cursor: pointer;
    background: transparent;
    border: 0;
    -webkit-appearance: none;
    appearance: none;
}

.alert {
    max-width: 21.749375em;
    padding: 0.9375em;
    margin-top: 0;
    color: inherit;
    border-radius: 0.25em;
}

.alert .alert-link {
    font-weight: bold;
}

.alert-dismissable {
    padding-right: 2.1875em;
}

.alert-dismissable .close {
    position: relative;
    top: -0.125em;
    right: -1.3125em;
    color: inherit;
}

.alert-danger {
    background-color: #f2dede;
    border-color: #ebccd1;
    color: #a94442;
}

.alert-danger {
    border-top-color: #e4b9c0;
}

.alert-danger .alert-link {
    color: #843534;
}

.alert {
    border-radius: 0;
    -webkit-border-radius: 0;
    box-shadow: 0 0.0625em 0.125em rgba(0, 0, 0, 0.11);
}

.alert .sign {
    font-size: 1.25em;
    vertical-align: middle;
    margin-right: 0.3125em;
    text-align: center;
    width: 1.5625em;
    display: inline-block;
}

.alert-white {
    background-image: linear-gradient(to bottom, #FFFFFF, #F9F9F9);
    border-top-color: #d8d8d8;
    border-bottom-color: #bdbdbd;
    border-left-color: #cacaca;
    border-right-color: #cacaca;
    color: #404040;
    padding-left: 3.8125em;
    position: relative;
}

.alert-white .icon {
    text-align: center;
    width: 2.8125em;
    height: 100%;
    position: absolute;
    top: 0;
    left: -0.0625em;
    border: 0.0625em solid #bdbdbd;
}

.alert-white .icon:after {
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);;
    display: block;
    content: '';
    width: 0.625em;
    height: 0.625em;
    border: 0.0625em solid #bdbdbd;
    position: absolute;
    border-left: 0;
    border-bottom: 0;
    top: 50%;
    right: -0.375em;
    margin-top: -0.3125em;
    background: #fff;
}

.alert-white.rounded {
    border-radius: 0.1875em;
    -webkit-border-radius: 0.1875em;
}

.alert-white.rounded .icon {
    border-radius: 0.1875em 0 0 0.1875em;
    -webkit-border-radius: 0.1875em 0 0 0.1875em;
}

.alert-white .icon i {
    font-size: 1.25em;
    color: #FFF;
    left: 0.75em;
    margin-top: -0.625em;
    position: absolute;
    top: 50%;
}

.alert-white.alert-danger .icon,
.alert-white.alert-danger .icon:after {
    border-color: #ca452e;
    background: #da4932;
}

/*success*/

.alert-success {
    background-color: #dff0d8;
    border-color: #d6e9c6;
    color: #3c763d;
}

.alert-success{
    border-top-color: #c9e2b3;
}

.alert-success .alert-link {
    color: #2b542c;
}
.alert-success {
    background-color: #dbf6d3;
    border-color: #aed4a5;
    color: #569745;
}
.alert-white.alert-success .icon,.alert-white.alert-success .icon:after {
    border-color: #54a754;
    background: #60c060;
}

#successAlertR{
    display: none;
}

#errorAlertR{
    display: none;
}